@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

:root {
	--color-brand: #4C63D9;

	--color-text-strong: #1A203D;
	--color-text-weak: #595F7A;

	--color-stroke-strong: #8086A6;
	--color-stroke-weak: #E4E6F0;

	--color-fill: #F5F6FA;
	--color-bg: #FFFFFF;

	--font-family: 'Inter', sans-serif;
}

body {
	font-size: 1.6rem;
	font-family: var(--font-family);
	color: var(--color-text-weak);
}

.container {
	width: 640px;
	margin: 0 auto;
}

header {
	padding: 5rem 0;
}

.header__inner > h1 {
	color: var(--color-text-strong);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-task {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

.add-task__task-input {
	display: block;
	width: 100%;
	border: 2px solid var(--color-stroke-strong);
	padding: 1.2rem 0 1.2rem 1.5rem;
	font-size: 1.6rem;
	border-radius: 5px;
}

.add-task__category-input {
	width: 50%;
	border: 2px solid var(--color-stroke-strong);
	padding: 1rem 0 1rem 1rem;
	font-size: 1.6rem;
	border-radius: 5px;
	color: var(--color-text-weak);
}

.add-task__task-input::placeholder {
	color: var(--color-text-weak);
}

.add-task__btn {
	display: block;
	width: 25%;
	font-size: 1.6rem;
	padding: 1.2rem 0;
	border-radius: 5px;
	color: var(--color-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-brand);
	border: 1px solid var(--color-brand);
}

.task-controls {
	padding: 10rem 0 2rem 0;
	border-bottom: 1px solid var(--color-stroke-weak);
}

.task-controls__tabs {
	display: flex;
	flex: 1;
	gap: 1.8rem;
	justify-content: space-between;
}

.task-controls__radio {
	display: none;
}

.task-controls__tab {
	display: flex;
	flex: 1;
	justify-content: center;
	padding: 1.2rem 0;
	font-size: 1.8rem;
	border: 2px solid var(--color-brand);
	border-radius: 5px;
}

.task-controls__tab:hover {
	background-color: var(--color-brand);
	color: var(--color-bg);
}

.task-controls__radio:checked + .task-controls__tab {
	background-color: var(--color-brand);
	color: var(--color-bg);
}

#filter-all:checked ~ #task-list-all,
#filter-work:checked ~ #task-list-work,
#filter-personal:checked ~ #task-list-personal {
	display: block;
}

.task-controls__all-task-control {
	display: flex;
	justify-content: end;
	padding: 5rem 0 0 0;
}

.task-controls__btn {
	font-size: 2rem;
	background-color: var(--color-bg);
	border: none;
	color: var(--color-text-weak);
	display: none;
}

.task__item {
	display: flex;
	justify-content: space-between;
	padding: 3rem;
	border-bottom: 1px solid var(--color-stroke-weak);
}

.task__label {
	display: flex;
	align-items: center;
}

.task__checkbox {
	appearance: none;
}

.task__custom-checkbox {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	border: 1px solid var(--color-stroke-strong);
	border-radius: 2px;
	margin: 0 1rem 0 0;
}

.task__checkbox:checked + .task__custom-checkbox {
	background-color: var(--color-stroke-strong);
}

.task__checkbox:checked + .task__custom-checkbox::before {
	content: '\F633';
	font-family: 'bootstrap-icons';
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.4rem;
	height: 1.4rem;
	color: var(--color-bg);
	font-size: 1.8rem;
}

.task__name {
	color: var(--color-text-strong);
}

.task__checkbox:checked ~ .task__name {
	text-decoration-line: line-through;
	color: var(--color-stroke-strong);
}

.task__btns {
	display: flex;
	align-items: end;
}

.task__btn-edit {
	display: block;
	font-size: 2rem;
	background-color: var(--color-bg);
	border: none;
	color: var(--color-text-weak);
}

.task__btn-delete {
	font-size: 2rem;
	background-color: var(--color-bg);
	border: none;
	color: var(--color-text-weak);
	display: block;
	margin: 0 0 0 2rem;
}

.footer {
	padding: 3rem 0;
}

.footer__inner > small {
	display: block;
	text-align: center;
}